a {
  text-decoration: none !important;
}
.flexy {
  display: flex;
  align-items: center;
  flex-direction: row !important;
}
.pos-rv {
  position: relative;
}
.menu-btn {
  display: none;
  font-size: 25px;
}
.menu-btn:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .mr-lg-2 {
    margin-right: 2rem;
  }
  .fz-lg {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .flexy {
    flex-direction: column !important;
  }
  .menu-btn {
    display: block;
  }
  .fz-sm {
    font-size: 18px;
  }

  .myc-sm-3 {
    margin: 2rem 0;
  }
  .mr-sm-2 {
    margin-bottom: 2rem;
  }
  .drop-down {
    position: absolute;
    top: 100%;
    right: 1rem;
    padding: 1rem;
    background-color: #eee;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s, transform 0.3s;
  }
  .show {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
}
.btns-group {
  display: flex;
  justify-content: flex-end;
}
.delete-btn,
.update-btn {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--red);
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
